.wide-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 1vw;
  padding: 5%;
  margin-top: 1vw;
  height: 100%;
  width: 15vw;
}
.narrow-sidebar {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 1vw;
  margin-top: 1vw;
  height: 100%;
}

.navlinks {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
