.story-details{

   .ant-card{
    height: 100%;
    overflow: hidden;

    .ant-card-head-wrapper{
        width: 100%;
    } 

    .ant-card-body{
        height: 100%;

        .ant-typography{
            height:40vh;
            overflow-y: scroll;
        }
    }

    .story-details-image-dialog{
        width: 35vw;
        height: 40vh;
        box-shadow: 0 8px 6px -6px black;
        left: 4vw;
        top: 25vh;
        
    }


   }


   


}