.story-manager {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 5px outset #c4e4f7;
  border-radius: 1vw;
  margin:0 1vw;
  width: auto;
  height: 100vh;

}

.library {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2vw;
  height: 100vh;

}


h3 {
  display: inline;
}

.library-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.library-top > h2,
button {
  margin: 1% 2% auto;
}

.library-body {

  width: 100%;
  margin: 1% auto;

  .library-body-main{
    display: flex;
  }
}

.library-body > .story-details,
.admin-history {
  width: 90%;
  height:70vh;
  margin: 1vh;
  box-shadow: 5px -5px 3px -3px #69a7da, -5px 5px 3px -3px #69a7da;
  border-radius: 1vw;
}

.review-checkboxes p:hover {
  cursor: pointer;
}


