.word-count-container {
  margin: 0 auto;
  width: 525px;
  height: 75px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #6ceae6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.word-count-title {
  margin: 0 auto;
  font: 35px 'Bangers';
  color: #fed23f;
  -webkit-text-stroke: 1.25px black;
  letter-spacing: 0.06em;
}

.word-count-data {
  padding: 5px;
  margin: 0 auto;
  font: 35px 'Bangers';
  color: black;
  letter-spacing: 0.02em;
  -webkit-text-stroke: 0.5px white;
}
