@import 'variables.less';

.accountSettingsContainer {
  background-color: #F5F5F6;
height: 40vh;
}

.textAndButtonContainer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.editFormsAndButtonsContainer {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.placeholderInput {
    padding: 20px;
}
