.add-child {
  .logo {
    .logoStyle();
  }
  .welcome {
    .welcomeStyle();
  }
  .title {
    .titleStyle();
  }
  .ant-layout-sider {
    .siderStyle();
  }

  .child-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3%;

    form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      padding: 2.5vh;
      width: 90%;

      background-color: @primary-3;
      border-radius: 10px;

      input {
        width: 100%;
        background-color: #fffc;
        height: 50px;
      }

      .form-inline {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .form-elements {
          margin-top: 24px;
        }

        .avatar-select {
          width: 35%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 24px 5%;

          button {
            flex-grow: 1;
            height: 100%;
          }
        }

        .avatar-select + div {
          width: 62%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-evenly;
        }
      }
    }
  }
}
.avatar-select-modal {
}
