.avatar-header{
    font-size:xx-large;
    font-family: 'bangers',cursive;
    text-align: center;    
}

.avatar-card{    
    min-height: 50vh;
    width: 50vh;   
    border:1px solid black; 
}

.avatar-lighting-kid{
    background-image: url('../../assets/images/hero_images/hero4.png');
    background-size:contain;  
    background-repeat: no-repeat;  
}