@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'global.less';
@import 'variables.less';

.dash-container {
  height: 70vh;
  .toprow,
  .bottomrow {
    @media @mobile {
      width: 100%;
    }
  }
  .ant-col.ant-col-13.accept-mission,
  .ant-col.ant-col-11.change-avatar,
  .ant-col.ant-col-11.adventure-passport,
  .ant-col.ant-col-13.trophy-room {
    @media @mobile {
      max-width: 100%;
    }
  }

  .accept-mission,
  .change-avatar,
  .adventure-passport,
  .trophy-room,
  .leaderboard {
    border: 5px solid @header-nero;
    height: 35vh;
  }

  .accept-mission {
    background: url('../../assets/images/child_dashboard_images/accept_the_mission.svg')
      no-repeat;
    background-size: contain;
    background-position: center;
    background-color: @conifer;
    opacity: 75%;
    cursor: pointer;

    img {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .accept-mission,
  img {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accept-mission-text {
    font-size: 3.2rem;
    font-family: 'Bangers', cursive;
    color: @white;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    margin: 0 auto;
    @media @tablet, @mobile {
      padding: 0%;
      font-size: 2.5rem;
    }
  }

  .change-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @burnt-sienna;
    opacity: 75%;
    img {
      max-width: 80%;
      max-height: 80%;
    }
  }

  .adventure-passport {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @bright-sun;
    opacity: 75%;
  }

  .adventure-passport img {
    max-width: 80%;
    max-height: 80%;
    @media @mobile {
      margin-left: 10%;
    }
  }

  .trophy-room {
    background: @boston-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }

  .leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @boston-blue;
    opacity: 75%;
    img {
      max-width: 80%;
      max-height: 80%;
    }
  }
}

.accept-mission:hover {
  opacity: 100%;

  .accept-mission-text {
    font-size: 4.5rem;
  }
}

.change-avatar:hover {
  opacity: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.adventure-passport:hover {
  opacity: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.trophy-room:hover {
  opacity: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.leaderboard:hover {
  opacity: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
