@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.dash-container {
  height: 73vh;
}

.ant-row {
  height: 50%;
}

.accept-mission {
  background: url('../../assets/images/child_dashboard_images/accept_the_mission.svg')
    no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #b5d33d;
  p {
    margin: 0 auto;
  }
}

.accept-mission,
img {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accept-mission-text {
  font-size: 4.5rem;
  padding: 8%;
  cursor: pointer;
}

.change-avatar {
  background: #eb7d5b;
}

.change-avatar,
img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adventure-passport {
  background: #fed23f;
}

.adventure-passport,
img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trophy-room {
  background: #429cb5;
}

.trophy-room,
img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-dash-img {
  cursor: pointer;
}
