/* Child Footer Styles */

.no-scroll {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  background: #2d2a2b;
  color: #fbfbfb;
  padding: 30px 0;
  position: relative;
  z-index: 50;

}
