@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.edit-players {
    .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 55px;
        .title {
            .titleStyle();
        }
        button {
            .blueButtonStyle();
        }
    }
    .children {
        width: 75%;
        max-width: 800px;
        margin: 0 auto;
        flex-flow: column;
        align-items: center;
        .child-card-form {
            background-color: #F5F5F5;
            width: 100%;
            height: 465px;
            margin-right: 0;
            padding: 3%;
            .ant-card-body {
                width: 100%;
                padding: 0;
                .card-top {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .edit-btn {
                        .blueButtonStyle();
                        width: 100px;
                        display: inline-block;

                        background-color: #F5F5F5;
                        border: 1px solid #7E8484;

                        position: absolute;
                        left: 100px;
                        top: 100px;
                    }
                    .delete-btn {
                        .blueButtonStyle();
                        display: inline-block;

                        background-color: #FBFBFB;
                        border: 1px solid #7E8484;
                    }
                    .avatar-img {
                        width: 115px;
                        height: 115px;
                        padding: 1%;
                        clip-path: circle();
                        background-color: white;
                    }
                }
                .save-btn {
                    .blueButtonStyle();
                    width: 315px;
                }
            }
        }
    }
}