@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.edit-players {
    .top-section {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 55px;
        button {
            .blueButtonStyle();
            width: 160px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .anticon {
                font-weight: bold;
                font-size: 1.25rem;
                padding: 0;
                height: 20px;
            }
        }
    }
}