* {
  margin: 0;
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

.FaceoffReveal {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.4;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Bangers', cursive;
  color: black;
}

h1 {
  font-size: 1.5rem;
}

/* main div for animations */
.fixed-box {
  display: flex;
  justify-content: center;
  position: relative;
}

.move-left-move-right {
  z-index: 4;
}

/* this is nested in 'fixed-box' */
.crash-location {
  z-index: 3;
  position: absolute;
  top: 42%;
  margin: 0;
}

.vs {
  z-index: 2;
  margin: 0;
}

/* fixed to bottom, contains winner name and points */
.bottom-fixed {

  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 80%;
  height: 18%;
  margin-top: 82vh;
  padding: 0%;
}

.points-container {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding:0;;
}
/* this is nested in 'bottom-fixed */
.points {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  line-height: 100%;
  margin-top: 0%;
}

/* this is nested in 'bottom-fixed */
.winner {
  width: 100%;
  height: auto;
  position: relative;
  line-height: 100%;
  padding: 0;
  bottom: 0%;
}

.winner-headline {
  font-size: 3rem;
}

.resultsType {
  z-index: 4;
}

.go-back-button {
  z-index: 5;
}

@media only screen and(max-width: 400px) {
  .bottom-fixed {
    margin-top: 77vh;
  }
}

@media only screen and (min-width: 601px) {
  h1 {
    font-size: 2rem;
  }
  .winner-headline {
    font-size: 3rem;
  }
}
