@import '../less/variables.less';

.parent-dash-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: @suva-grey;
}

.footer-1-container {
  border: 2px solid red;
}
.address-info {
}

.newsletter {
}

.footer-contact-us-form {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
}

//Contact form Styles

.footer-Contact-Form-Container {
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-container {
    width: 30vw;
    border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs{
  width: 75%;
  margin-bottom: 5px;
  font-weight: 600;
  border-radius: 4px;
}


.footer-contact-button-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.footer-contact-form-submit-button {
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  cursor: pointer;
  background: @button-blue;
  font-size: 1rem;
  background: @white-smoke;
  border: 3px solid @button-blue;
  color: @button-blue;
  box-shadow: 2px 1px 1px;
  &:hover {
    background: @button-blue;
    color: @white-smoke;
  }
}
