.weekly-sub-container {
    height: 70vh;
    display: flex;
    flex-direction: row;
    padding: 2.5% 5%;

    .h3 {
        color: #ff9100;
        text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
        text-align: center;
      
        font-size: 3.5rem;
        font-family: 'bangers';
        font-weight: bold;
    }

    .sub-container {
        height: 300px;
        width: 400px;
        border: solid black 50px
    }

}