.weekly-sub-container {
    height: 70vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 2.5% 5%;

    .label {
        background-color: @header-nero;
        padding-bottom: 20px;
        width: 300px;
        height: 150px;
        clip-path: polygon(1% 2%, 95% 2%, 100% 94%, 0% 100%);
        filter: drop-shadow(20px 5px @suva-grey) drop-shadow(-20px 1px @suva-grey);
    }

    .h3 {
        color: #FBFBFB;
        font-size: 2.5rem;
        font-family: 'atma';
    }

    .submissions {
        display: flex;
        flex-direction: row;
        height: 70vh;
        width: 100%;

        .sub-container {
            height: 750px;
            width: 49%;
            margin-top: 20px;
            justify-content: space-around;
            background-image: url("../../assets/images/gallery/gallery-frames.svg");
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;

            .gallery-submission {
                border-radius: 30px;
                width: 80%;
                height: 150px;
                z-index: 2;
                background: lightblue;
                margin: 0 auto;
                position: inherit;
            }

        }

    }


}