

#missioncon{
    width:100%;
    height: 100%;
    background: pink;
}

.rectangle125-box{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    height: 100%;
    background-color: yellow;
}
.rectangle12B5{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:80%;
}
.rectangle125{
    /* Rectangle 125 */
    
display: flex;
flex-direction: column;
/* Text/Black */

width:8rem;
// height:100%;
background: #2D2A2B;
transform: matrix(1, -0.02, 0.03, 1, 0, 0);
}


.your-mission{
    
    /* Your Mission */
    width:60%;
    text-align:center;

    /* Heading2-medium */

    h1{
        font-family: Bangers;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 45px;
        /* identical to box height */

        letter-spacing: 0.05em;

        /* Text/White */

        color: #FBFBFB;
    }
}



 


 