.rectangle-125{
    /* Rectangle 125 */


position: absolute;
left: 1.11%;
right: 2.58%;
top: 5.1%;
bottom: 1.14%;

/* Text/Black */

background: #2D2A2B;
transform: matrix(1, -0.02, 0.03, 1, 0, 0);
}