@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.HudContainer {
    width: 100%;
    background-color: #757575;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.countdown-timer {
    font-size: 1.5rem;
	font-family: 'Bangers', cursive;
	color: white;
    text-align: center;
}

.progressionBar {
    width: 85%;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    flex-flow: row, wrap;
    color: black;
    background-color: white;
    font-size: 1.5rem;
	font-weight: 500;
	font-family: 'Bangers', cursive;
    margin: 0 auto;
}
.progbtn{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;





}
.activity {
    width: 16.666%;
    text-align: center;
    // This is how the I made the border angled on one side
    transform: skewX(-15deg);
    border-right: 3px solid black;
    // This is to make the element seem less italicized 
    span {
        transform: skewX(15deg);
    }
    &:nth-last-of-type(1) {
        border-right: none;
    }
}

// Checkmark img for completed activity to be added after made in house 
.completedActivity {
    background-color: #C6FD7E;
    width: 16.666%;
    text-align: center;
    // This is how the I made the border angled on one side
    transform: skewX(-15deg);
    border-right: 3px solid black;
    // This is to make the element seem less italicized 
    span {
        transform: skewX(15deg);
    }
    &:nth-last-of-type(1) {
        border-right: none;
    }
}

.currentActivity {
    background-color: #C6FD7E;
    width: 16.666%;
    text-align: center;
    // This is how the I made the border angled on one side
    transform: skewX(-15deg);
    border-right: 3px solid black;
    // This is to make the element seem less italicized 
    span {
        transform: skewX(15deg);
    }
    &:nth-last-of-type(1) {
        border-right: none;
    }
    animation: pulse-animation 2s infinite;
}
// This is the animation for current activity
.pulse {
    animation: pulse-animation 2s infinite;
}
  
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

.dayBars {
	display: flex;
    width: 85%;
	margin: 0 auto;
	flex-direction: row;
    justify-content: space-evenly;
}

.bar1 {
    width: 30%;
    background-color: #c7c7c7;
    min-height: .75rem;
	border-radius: 200px;
}

.bar2 {
    width: 20%;
    background-color: #c7c7c7;
    min-height: .75rem;
	border-radius: 200px;
}

.bar3 {
    width: 20%;
    background-color: #c7c7c7;
    min-height: .75rem;
	border-radius: 200px;
}

.currentBar {
    width: 20%;
    background-color: #C6FD7E;
    min-height: .75rem;
	border-radius: 200px;
}

.days {
    display: flex;
    width: 85%;
	margin-top: .5%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	flex-direction: row;
    justify-content: space-evenly;
}

.day1-3 {
	display: flex;
	width: 30%;
	justify-content: center;
	font-size: 1.5rem;
	color: white;
	font-family: 'Bangers', cursive;

}

.day4-5 {
	display: flex;
	width: 20%;
	justify-content: center;
	font-size: 1.5rem;
	color: white;
	font-family: 'Bangers', cursive;

}

.day6-7 {
	display: flex;
	width: 20%;
	justify-content: center;
	font-size: 1.5rem;
	color: white;
	font-family: 'Bangers', cursive;

}

#toggle {
    position: column;
    appearance: none;
    cursor: pointer;
    left: -100%;
    top: -100%;
  }

  #toggle + label {
    position: column;
    cursor: pointer;
    padding: 10px;
    background: #000;
    width: 100px;
    border-radius: 3px;
    padding: 8px 10px;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    margin: 20px 50px;
    transition: all 500ms ease;
  }

  #toggle + label:after {
    content: "Slide Down"
  }

  .slidecontainer {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding: 5em 3em;
  }

  #toggle:checked ~ .message {
    top: 0;
  }

  #toggle:checked ~ .slidecontainer {
    margin-top: 250px;
  }

  #toggle:checked + label {
    background: #54494b;
  }

  #toggle:checked + label:after {
    content: "Slide Up"
  }

  #toggle {
    position: column;
    appearance: none;
    cursor: pointer;
    left: -100%;
    top: -100%;
  }

  #toggle + label {
    position: column;
    cursor: pointer;
    padding: 10px;
    background: #000;
    width: 100px;
    border-radius: 3px;
    padding: 8px 10px;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    margin: 20px 50px;
    transition: all 500ms ease;
  }

  #toggle + label:after {
    content: "Slide Down"
  }

  .slidecontainer {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding: 5em 3em;
  }

  #toggle:checked ~ .message {
    top: 0;
  }

  #toggle:checked ~ .slidecontainer {
    margin-top: 250px;
  }

  #toggle:checked + label {
    background: #54494b;
  }

  #toggle:checked + label:after {
    content: "Slide Up"
  }

  .message {
      background: #54494b none repeat scroll 0 0;
      box-sizing: border-box;
      color: #fff;
      height: 230px;
      left: 0;
      overflow: hidden;
      padding: 2em;
      position: absolute;
      top: -250px;
      transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;
      width: 100%;
  }

  .message h1 {
    color: #FFF;
  }

//State not done for this PT21
.currentDay {
    display: flex;
    flex-flow: row wrap;
    background-color: #C6FD7E;
    animation: pulse-animation 2s infinite;
}
// State not done for this PT21
.completedDay {
    background-color: #C6FD7E;
}