.instructions-modal {
  display: flex;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .ant-modal-content {
    border: 2px solid #000000;
    height: 55vh;
    padding: 5%;
    min-width: 100%;

    p {
      font-size: 2.5rem;
    }
    .accept-button {
      .orangeButtonStyle();
      position: absolute;
      right: 8%;
      top: 82.33%;
    }
  }
}
