.instructions-modal {
  display: flex;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .ant-modal-content {
    border: 2px solid #000000;
    height: 75vh;
    padding: 5%;
    min-width: 100%;

    .ant-modal-close {
      left: inherit;
    }

    .ant-modal-close-x {
      font-size: 25px;
      float: right;
    }

    .accept-button {
      .orangeButtonStyle();
      position: absolute;
      right: 5%;
      top: 82.33%;
      margin: 0 auto;
      background: white;
      color: black;
    }
    .ant-modal-body {
      p {
        font-size: 3rem;
      }
      .ant-btn > span {
        font-size: 20px;
      }
    }
  }
}

@media @tablet {
  .instructions-modal {
    .ant-modal-content {
      .accept-button {
        width: 120px;
      }
      .ant-modal-body {
        p {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@media @mobile {
  .instructions-modal {
    .ant-modal-content {
      .accept-button {
        width: 100px;
      }
      .ant-modal-body {
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media @xs {
  .instructions-modal {
    .ant-modal-content {
      .ant-modal-body {
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .instructions-modal .ant-modal-content {
    height: 85vh;
    padding: inherit;
  }

  .instructions-modal .ant-modal-content .ant-modal-body p {
    font-size: 30px;
  }
}
