@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.JoinSquadContainer {
  height: auto;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  @media @tablet {
    flex-direction: column;
  }
}

.joinSquad1 {
  background: #b5d33d;
  height: auto;
  padding: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.joinSquad2 {
  background-color: #fed23f;
  height: auto;
  padding: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.joinSquad1,
.joinSquad2 {
  border: 5px solid #292929;
  // position: relative;
}

.imgContain1 {
  display: flex;
  // position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media @tablet {
    padding-left: 5%;
    padding-bottom: 0%;
  }
}

.imgContain1Sub1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @media @tablet {
    padding-left: 5%;
    padding-bottom: 0%;
  }
}

.imgContain1Sub1 p {
  margin: auto 0;
  font-size: large;
}

.imgContain2 {
  display: flex;
  // position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media @tablet {
    padding-left: 5%;
    padding-bottom: 0%;
  }
}

.imgContain2Sub1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @media @tablet {
    padding-left: 5%;
    padding-bottom: 0%;
  }
}

.imgContain2Sub1 p {
  margin: auto 0;
  font-size: large;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.sharePoints {
  background: #eb7d5b !important;
  border-color: #eb7d5b !important;
  color: white !important;
  margin: 2vh 2vw;
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  font-weight: 700;
  width: 19%;
  // text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  border: 3px solid black;
  &:hover {
    background-color: #eb7d5bbb !important;
    border-color: #eb7d5bbb !important;
  }
  @media @mobile {
    position: relative;
    right: 56px;
    bottom: 57.5vh;
    height: 5vh;
    width: 218px;
  }
}
img {
  max-width: 100%;
}

.star {
  z-index: 2;
  // margin-top: 20%;
  position: inherit;
  bottom: 95px;
  @media @mobile {
    height: 32vh;
  }
}

.wordBubble {
  z-index: 3;
  // position: fixed;
  margin-left: 12%;
  margin-top: 0%;
  @media @mobile {
    margin-top: 33%;
  }
}

.wordBubble2 {
  z-index: 3;
  margin-left: -2%;
  margin-top: 0%;
}

.text {
  z-index: 4;
  position: absolute;
  margin-top: 17%;
  margin-left: 43%;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  @media @mobile {
    top: 19%;
    left: 0%;
  }
}
.text2 {
  z-index: 4;
  position: absolute;
  margin-top: 8%;
  margin-left: 41%;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 900;

  @media @mobile {
    top: 9%;
    left: -9%;
  }
}

.child1-avatar {
  z-index: 2;
  height: 29vh;
  position: absolute;
  left: 43%;
  top: 60%;
  @media @mobile {
    height: 16vh;
    left: 38%;
    top: 44%;
  }
}

.child2-avatar {
  z-index: 2;
  height: 29vh;
  position: absolute;
  margin-top: 12rem;
  left: 43%;
  top: 32%;

  @media @mobile {
    left: 38%;
    top: 39%;
    height: 15vh;
  }
}
.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  font-weight: 700;
  left: 2vh;
  bottom: 2vh;
  text-shadow: .1rem .1rem .2rem #888;

}

