.landing-animation {
  font-family: 'Bangers', cursive;
}
h1 {
  font-size: 1.3rem;
}
.win-text {
  font-size: 6rem;
  z-index: 4;
}
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 3rem;
  }
}
