.matchup-container{
  display:flex;  
  justify-content: center;
}

#matchup-window{
  background: url(../../assets/images/gamemodeimg/steps-box.png) center
  no-repeat;
  background-size: cover;
  height: 30rem;
  width: 60rem;  
  font-family: 'bangers',cursive;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-family: 'bangers',cursive;
  overflow: hidden;
  padding-top: 4rem;
   h1,h2{
     color:white;
   }

   .player-matchup{
     display:flex;
     flex-direction: row;
     justify-content:space-evenly;
     width:50rem;     
   }

   .player-container{
     display: flex;
     flex-direction: column;
     text-align: center;
     color:whitesmoke;
     font-size:xx-large;
   }

   .drawing-story-matchup{
     display: flex;
     flex-direction: column;
     justify-items: center;
   }

   #first-player{
     background-image: url(../../assets/images/hero_images/hero1.png);
     background-color:whitesmoke;
     border-radius: 50%;
   }

  

   #second-player{
    background-image: url(../../assets/images/hero_images/hero3.png);
    background-color:whitesmoke;
    border-radius: 50%;
   }

   #third-player{
    background-image: url(../../assets/images/hero_images/hero5.png);
    background-color:whitesmoke;
    border-radius: 50%;
   }

   #fourth-player{
    background-image: url(../../assets/images/hero_images/hero6.png);
    background-color:whitesmoke;
    border-radius: 50%;
   }

   .player-image{
     background-repeat: no-repeat;
     background-size: cover;
     height: 11rem;
     width: 10rem;
   }

   .vs-image{
     background-image: url('../../assets/images/match_up_images/matchup_bolt.svg');
     height:30rem;
     width:10rem;
     background-repeat: no-repeat;
   }
}

.drawing-story-matchup{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  padding-top:3rem;
  margin-left:7%;
  margin-right:7%;   
}

.small-matchup-window{
  background-color:rgb(40,40,40); 
  height: 30rem;
  width:35rem;
  padding-top:0.5rem;
  margin-bottom: 3rem;
  color:white;
  font-size: xx-large;
  font-family: 'bangers',cursive;
  display:flex;
  justify-content: space-evenly;
   h2{
     padding-top: 3rem;
     color:white;
   }
}

.vs-lightning-image{
  background-image:url('../../assets/images/match_up_images/ThunderBolt_Complete.png');
  height:23rem;
  width:14rem;
  margin-bottom:2rem;
  background-repeat: no-repeat;
  background-position: center;
}
#first-window{
  display: flex;
    justify-content: space-evenly;
    background-color:coral;
    width: 34rem;
    height: 24rem;
    padding-top: 1rem;
}
#first-player-small-window{
  background-image: url(../../assets/images/hero_images/hero1.png);
  background-color:whitesmoke;
  border-radius: 50%; 
 }

 #second-window{
  display: flex;
    justify-content: space-evenly;
    background-color:cyan;
    width: 34rem;
    height: 24rem;
    padding-top: 1rem;
}

 #second-player-small-window{
  background-image: url(../../assets/images/hero_images/hero5.png);
  background-color:whitesmoke;
  border-radius: 50%; 
 }

 #third-player-small-window{
  background-image: url(../../assets/images/hero_images/hero3.png);
  background-color:whitesmoke;
  border-radius: 50%; 
 }

 #third-window{
  display: flex;
    justify-content: space-evenly;
    background-color:crimson;
    width: 34rem;
    height: 24rem;
    padding-top: 1rem;
}

 #fourth-player-small-window{
  background-image: url(../../assets/images/hero_images/hero6.png);
  background-color:whitesmoke;
  border-radius: 50%; 
 }

 #fourth-window{
  display: flex;
    justify-content: space-evenly;
    background-color:yellow;
    width: 34rem;
    height: 24rem;
    padding-top: 1rem;
}

 .player-image-small{
  background-repeat: no-repeat;
  background-size: cover;
  height: 11rem;
  width: 10rem;
 }
