.matchup-container{
  display:flex;  
  justify-content: center;
}

#matchup-window{
  background: url(../../assets/images/gamemodeimg/steps-box.png) center
  no-repeat;
  background-size: cover;
  height: 30rem;
  width: 60rem;  
  font-family: 'bangers',cursive;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-family: 'bangers',cursive;
  overflow: hidden;
  padding-top: 4rem;
   h1,h2{
     color:white;
   }

   .player-matchup{
     display:flex;
     flex-direction: row;
     justify-content:space-evenly;
     
   }

   #first-player{
     background-image: url(../../assets/images/hero_images/hero1.png);
     background-color:whitesmoke;
     border-radius: 50%;
   }

   #second-player{
    background-image: url(../../assets/images/hero_images/hero3.png);
    background-color:whitesmoke;
    border-radius: 50%;
   }

   #third-player{
    background-image: url(../../assets/images/hero_images/hero5.png);
    background-color:whitesmoke;
    border-radius: 50%;
   }

   #fourth-player{
    background-image: url(../../assets/images/hero_images/hero6.png);
    background-color:whitesmoke;
    border-radius: 50%;
   }

   .player-image{
     background-repeat: no-repeat;
     background-size: cover;
     height: 10rem;
     width: 10rem;
   }

   .vs-image{
     background-image: url('../../assets/images/match_up_images/matchup_bolt.svg');
     height:30rem;
     width:30rem;
     background-repeat: no-repeat;
   }
}
