.welcomeStyle() {
  padding: 12%;
  margin-top: 15%;
  text-align: center;
  size: 2rem;
}

.logoStyle() {
  height: 19vh;
  border: 2px 2px bold;
}

.titleStyle() {
  display: inline-block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  color: #535353;
  background: none;
  margin-bottom: 0;
}

.siderStyle() {
  height: 100vh;
  border-right: 2px solid gray;
}

.orangeButtonStyle() {
  width: 180px;
  height: 45px;

  color: #fff;
  background-color: @burnt-sienna;
  box-sizing: border-box;
  font-size: 1rem;
  border: 3px solid @header-nero;
  &:hover {
    background-color: lighten(@burnt-sienna, 10%);
  }
}

.blueButtonStyle() {
  width: 160px;
  height: 40px;

  color: #4B5151;
  background-color: #8CE2E0;
  border-radius: 16px;
  font-size: 1.2rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;

  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  .anticon {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0;
    height: 20px;
  }

  &:hover {
    box-shadow: 0px 2px 7px 3px rgba(0,0,0,0.38);
    color: #8CE2E0;
    background-color: #4B5151;
  }
}