.welcomeStyle() {
  padding: 12%;
  margin-top: 15%;
  text-align: center;
  size: 2rem;
}

.logoStyle() {
  height: 19vh;
  border: 2px 2px bold;
}

.titleStyle() {
  text-align: center;
  font-family: 'bangers';
  color: #0267c1;
  background: none;
  margin-top: 2%;
}
.siderStyle() {
  height: 100vh;
  border-right: 2px solid gray;
}
.orangeButtonStyle() {
  width: 180px;
  height: 45px;

  color: #fff;
  background-color: @burnt-sienna;
  box-sizing: border-box;
  font-size: 1rem;
  border: 3px solid @header-nero;
  &:hover {
    background-color: lighten(@burnt-sienna, 10%);
  }
}
.matchupBoxesStyle() {
}
