.welcomeStyle() {
  padding: 12%;
  margin-top: 15%;
  text-align: center;
  size: 2rem;
}

.logoStyle() {
  height: 19vh;
  border: 2px 2px bold;
}

.titleStyle() {
  display: inline-block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  color: #535353;
  background: none;
  margin-bottom: 0;
}

.siderStyle() {
  height: 100vh;
  border-right: 2px solid gray;
}

.orangeButtonStyle() {
  width: 180px;
  height: 45px;

  color: #fff;
  background-color: @burnt-sienna;
  box-sizing: border-box;
  font-size: 1rem;
  border: 3px solid @header-nero;
  &:hover {
    background-color: lighten(@burnt-sienna, 10%);
  }
}

.disabledButtonStyle() {
  filter: grayscale(var(--value, 100%));
  &:hover {
    box-shadow: none;
    cursor: default;
  }
}

.blueButtonStyle() {
  width: 160px;
  height: 40px;

  color: #4B5151;
  background-color: #8CE2E0;
  border-radius: 16px;
  font-size: 1.2rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;

  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  .anticon {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0;
    height: 20px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.38);
  }

  &:disabled {
    .disabledButtonStyle();
  }
}

.parent-back-button() {
  display: inline-block;
  width: fit-content;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  span[role="img"] {
    color: #8CE2E0;
  }
}

.inputStyle() {
  border: 1px solid #C8D4E1;
  border-radius: 16px;
  height: 48px;
  padding: 12px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #4B5151;
  &:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  }
  &:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
    border: 1px solid #7B8794;

  }
}