.moderation-page {
  display: flex;
  .dev-tools {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 3rem;

    .ant-page-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: #229;
      h1 {
        color: white;
        font-family: 'Bangers';
        font-size: 1.5rem;
      }
    }
  }
  .dev-tools-day {
    margin: 25px 400px auto 400px;
    text-align:justify;
    h2, h3, h4 {
      text-align: center;
    }
  }
  .dev-title {
    font-size: 2rem;
  }
  .react-datepicker {
    min-width: 20.5rem;
  }
  .datePickerTxt {
    margin-right: 1rem;
  }
  .ant-page-header {
    background-color: #229;
    h1 {
      color: white;
      font-family: 'Bangers';
      font-size: 1.5rem;
    }
  }
  .ant-page-day-header {
    background-color: #229;
  }
  .ant-layout-content {
    padding: 2.5vh 24px;

    .inline-form {
      padding-left: 15rem;
      padding-right: 15rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      
      .moderator-title {
        font-size: 2rem;
      }

      .posts-title {
        font-size: 2rem;
        padding-top: 2.5rem;
      }

      [class$='control-input-content'] {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .ant-form-item {
          button {
            margin-left: 1.25vw;
          }
        }
      }
    }
    img {
      max-width: 100%;
    }
  }
}
