@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'global.less';
@import 'variables.less';

.container {
  margin: 10px 10px 200px 40px;
  padding: 10px 10px 10px 10px;
  h1 {
    font-size: var(--font-size);
    font-family: 'Bangers', cursive;
  }
}
.ant-table-row {
  // color: blue;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.ant-space-item {
  // border: 1px solid rgb(231, 231, 231);
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  color: red;
}

.ant-modal {
  box-sizing: border-box;
}
.ant-modal .ant-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  width: 600px;
  // border: 2px solid red;
}
.ant-modal .ant-modal-footer {
  display: flex;
  justify-content: space-evenly;
  float: left;
}
