.ant-transfer {
  display: flex;
  //   border: 2px solid @header-nero;
  height: 300px;
  margin: 10px 10px 10px 10px;
  background: rgb(243, 243, 243);
}
.ant-space-vertical {
  //   color: red;
  border: 2px solid rgb(123, 123, 123);
  //   display: flex;
  //   width: 600px;
  //   align-items: center;
  margin: 100px 10px 10px 40px;
  //   background: rgb(181, 20, 20);
  //   flex-direction: column;
  //   align-items: center;
  //   height: auto;
}
.ant-space {
  //   border: 5px solid rgb(160, 15, 15);
  //   background: rgb(243, 243, 243);
  padding: 10px;
}
.ant-space-item {
  display: flex;
  //   flex-wrap: wrap;
  margin: 0 auto;
  padding: 2%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(83, 83, 83);
  //   padding: 10px 10px 10px 4px;

  //   height: 300px;
  width: 460px;
}

.ant-space-item {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: 0 auto;
  //   padding: 2%;
  //   justify-content: space-between;
  //   background: red;
  //   border: 2px solid rgb(12, 229, 16);
  margin: 10px 10px 10px 10px;

  //   height: 300px;
  //   width: 460px;
}
