.moderation-page {
  display: flex;

  .dev-tools {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 12rem;
  };
  
  .ant-page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #229;
    h1 {
      color: white;
      font-family: 'Bangers';
      font-size: 1.5rem;
    };
  };

  .ant-page-day-header {
    background-color: #229;
  };

  .ant-layout-content {
    padding: 2.5vh 24px;

    .inline-form {
      padding-left: 15rem;
      padding-right: 15rem;
      padding-top: 3rem;
      padding-bottom: 3rem;

      .posts-title {
        padding-top: 2.5rem;
      };
    };
  };
};
