@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'global.less';
@import 'variables.less';

.newChild{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
  .ant-card {
    display: flex;
    align-items: center;
    position: relative;
    background-color:@new-turquoise;
    margin: 1% auto;
    padding: 1%;
    width: 30vw;
    min-width: 20vw;
    max-width: 40vw;
    border-radius: 14px;
    justify-content: center;
    text-align: left;
  .ant-card-body,
  .ant-layout {
    background: none;
    }
    h2 {
      font-family: 'Bangers';
      font-weight: 900;
      font-size: 35px;
      -webkit-text-stroke: 0.5px white;
    }
  }
}


.avBackground{
  width:150px;
  height:150px;
  background-color:white;
  border-radius:70%;
}

