@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'global.less';
@import 'variables.less';

.outerContainer{
  background-color:@new-turquoise;
  width:230px;
  margin-right:2%;
  margin-bottom:2%;
  padding:2%;
  border-radius: 10px;
}
.children{
  width:95vw;
  display:flex;
  flex-wrap: wrap;
}