@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

#parent-dashboard-page {
  overflow-x: hidden;
  .newparent-dashboard {
    padding: 0 2em;
  }
  @media @tablet {
    #parent-dashboard-page {
      .newparent-dashboard {
        padding: 0 1em;
      }
    }
  }
  @media @tablet {
    .parent-dashboard {
      .heading-section {
        flex-direction: column;
        margin-bottom: 20px;
        .link-container {
          width: 100vw;
          justify-content: space-around;
        }
      }
    }
  }
}
