/* Footer Styles */

.no-scroll {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer {
	// position: absolute;
	// bottom: 0;
	// width: 100%;

	font-size: 0.89rem;

    background: #6A7179;
    color: #fbfbfb;
     padding: 2rem 30vh;
    .inner-container {
      display: flex;
	  justify-content: center;
      justify-content:space-between;
    };

    .parent-footer-nav-container {
      display: flex;
	  justify-content: space-around;
    }

    .parent-footer-nav-div-link {
      margin: 0 8%;
      text-decoration: underline;
      color: #fbfbfb;
    }

    a {
      color: #fbfbfb;
    }

    a:hover {
      color: rgb(102,154,249);
    }
  };