@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.parent-dash-header {
  background-color: #9be1df;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 6vh;
}

.title {
  grid-column-start: 2;
  grid-column-end: 4;
}

.welcome-back-text {
  grid-column-start: 8;
  grid-column-end: 10;
  width: 100%;
  padding: 20px;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 50px);
}

.progress-charts-text {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  font-weight: bold;
  font-size: 1.8rem;
}
.empty-stats-box {
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 60vw;
  height: 40vh;
  border-radius: 25px;
  background-color: #e5e5e5;
}
.master-children-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(16, 50px);
}

.children-container-1 {
  width: 35vw;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;
  .players-text {
    grid-column-start: 8;
    grid-column-end: 10;
  }
  
}
.children {
  img {
    border-radius: 25px;
    width: 80%;
  }
}

.children-container-2 {
  width: 35vw;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 3;
}

.children-container-3 {
  width: 35vw;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 10;
  grid-row-end: 11;
}

.children-container-4 {
  width: 35vw;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 11;
}

.FAQ-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    // color: #ff9100;
    text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
    font-size: 2rem;
    font-family: 'lato';
    font-weight: lighter;
    letter-spacing: 2px;
    z-index: 1;
  }
  p {
    font-size: 1rem;
    width: 60vw;
  }
} 


.contact-form-container {
  background-color: #F6F5F0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// footer styles

@import '../less/variables.less';

.footerContainer {
  background-color: @suva-grey;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  padding: 1rem;
  .one {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .two {
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .three {
    grid-column-start: 14;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
  }
}

.footer-address-container {
  .contact-details {
    p {
      margin-bottom: 0px;
    }
  }
  .newsletter {
    p {
      margin-bottom: 10px;
    }
  }
  .newsletterInput {
    width: 80%;
    margin-bottom: 10px;
  }
  .newsletter-submit-button {
    width: 80%;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    background: @button-blue;
    font-size: 1rem;
    background: @white-smoke;
    border: 3px solid @button-blue;
    color: @button-blue;
    box-shadow: 2px 1px 1px;
    &:hover {
      background: @button-blue;
      color: @white-smoke;
    }
  }
}

//form styles
.formContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 50vw;
  .header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: right;
    p {
      font-size: 1rem;
      margin-right: 10px;
    }
  }
  .nameInput {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
  }
  .email {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: right;
    p {
      font-size: 1rem;
      margin-right: 10px;
    }
  }
  .emailInput {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 100%;
  }
  .message {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: right;
    p {
      font-size: 1rem;
      margin-right: 10px;
    }
  }
  .messageInput {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 8;
    width: 100%;
    height: 90%;
  }
  .contact-button {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
    width: 95%;
    justify-self: end;
  }
  .final {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
    height: 20px;
  }

  .footer-contact-form-submit-button {
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    background: @button-blue;
    font-size: 1rem;
    background: @white-smoke;
    border: 3px solid @button-blue;
    color: @button-blue;
    box-shadow: 2px 1px 1px;
    &:hover {
      background: @button-blue;
      color: @white-smoke;
    }
  }
}

//Socials styling

.socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p {
    margin-top: 10px;
  }
  .icons-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.socialIcons {
  font-size: 3.5em;
}
}





// .parent-dashboard {
//   margin: 0;
//   .ant-menu-item-selected {
//     border-top: 1px solid black;
//     border-bottom: 1px solid black;
//   }
//   .logo {
//     .logoStyle();
//   }
//   .welcome {
//     .welcomeStyle();
//   }
//   .children {
//     display: flex;
//     width: 100%;
//     justify-content: flex-start;
//     padding: 0 2%;
//     background-color: #fff;
//     .ant-card {
//       display: flex;
//       flex-flow: column nowrap;
//       align-items: center;
//       position: relative;
//       background-color: #6ceae6;
//       height: 30vh;
//       margin: 0 2.5vw 2.5vh 0;
//       padding: 16px;
//       width: 45%;
//       border-radius: 14px;
//       justify-content: center;
//       text-align: center;

//       h2 {
//         align-self: center;
//       }
//       .ant-card-body,
//       .ant-layout {
//         background: none;
//       }
//       img {
//         size: 40%;
//         height: 22vh;
//         padding: 10%;
//       }
//       button {
//         border-radius: 15px;
//         box-sizing: border-box;
//         width: 100%;
//         height: 5vh;
//         text-align: center;
//         font-size: 0.8rem;
//       }
//       .child-info {
//         display: flex;
//         flex-flow: row nowrap;
//         flex-grow: 1;
//       }
//     }
//   }

//   .title {
//     .titleStyle();
//   }

//   .ant-layout-sider {
//     .siderStyle();
//   }
// }
