@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'variables.less';

.title {
  .titleStyle();
}

*html {
  font-size: 62.5%;
}

.ant-layout {
  background-color: #fff;
}
.card {
  width: 66%;
  background-color: #fbfbfb;
  position: relative;
  margin: 30px auto;
  padding: 20px;
  border-radius: 16px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  color: #2d2a2b;
}
.ant-card-head-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #4b5151;
  font-family: sans-serif;
}

.ant-card-body {
  letter-spacing: inherit;
  font-size: 18px;
  line-height: 28px;
  background-color: #fbfbfb;
  font-weight: 400;
  font-family: sans-serif;
  color: #2d2a2b;
  padding: 5px;
}

.ant-btn {
  background: #fbfbfb;
  border: 0.5px solid #4b5151;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 10px;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 24px;
  font-weight: 500;
  color: #4b5151;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 10px;
  justify-items: left;
}

.ant-btn-default {
  background-color: #fbfbfb;
}
