/* Footer Styles */

.no-scroll {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  // position: absolute;
  // bottom: 0;
 width: 100vw;
  margin-top:3%;
  font-size: 0.89rem;
  background: #6a7179;
  color: #fbfbfb;

  .inner-container {
    display: flex;
    justify-content: space-evenly;
  }

  .copyright {
    font-size: 14px;
    width: 20%;
    text-align: center;
    padding: 15px 0px;
  }

  .parent-footer-nav-container {
    width: 20%;
    margin:10px;
    display: flex;
    justify-content: space-around;
  }

  .parent-footer-nav-div-link {
    text-decoration: none;
    color: #fbfbfb;
    margin: 0 15% 0 15%; 
  }
  a {
    color: #fbfbfb;
  }

  a:hover {
    color: rgb(102, 154, 249);
  }
}
