@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

// .parent-dashboard {
//   margin: 0;
//   .title {
//     .titleStyle();
//   }
//   .heading-section {
//     width: 69vw;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-between;
//   }
//   .link-container {
//     display: inline-flex;
//     justify-content: space-between;
//     width: 360px;
//     button {
//       .blueButtonStyle();
//       margin: 0;
//       width: 168px;
//     }
//   }
//   .children {
//     display: flex;
//     width: 100%;
//     justify-content: flex-start;
//     padding: 0 2%;
//     background-color: #fff;
//     .ant-card {
//       display: flex;
//       flex-flow: column nowrap;
//       align-items: center;
//       position: relative;
//       background-color: #6ceae6;
//       height: 30vh;
//       margin: 0 2.5vw 2.5vh 0;
//       padding: 16px;
//       width: 45%;
//       border-radius: 14px;
//       justify-content: center;
//       text-align: center;

//       h2 {
//         align-self: center;
//       }
//       .ant-card-body,
//       .ant-layout {
//         background: none;
//       }
//       img {
//         size: 40%;
//         height: 22vh;
//         padding: 10%;
//       }
//       button {
//         border-radius: 15px;
//         box-sizing: border-box;
//         width: 100%;
//         height: 5vh;
//         text-align: center;
//         font-size: 0.8rem;
//       }
//       .child-info {
//         display: flex;
//         flex-flow: row nowrap;
//         flex-grow: 1;
//       }
//     }
//   }
// }

#parent-dashboard-page {
  overflow-x:hidden;
  .newparent-dashboard{
    display:flex;
    justify-content: center;
    padding:0 2em;
    .child-container{
    }
    .renderWordCloud{
    }
    .progress-container{
    }
    .account-container{

    }
  }

  /* notification-modal */
  // #notification-modal {
  //   position: fixed;
  //   width: 100vw;
  //   height: 100vh;
  //   background: rgba(0, 0, 0, 0.5);
  //   top: 0;
  //   left: 0;
  //   z-index: 999;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   opacity: 0;
  //   display: none;

  //   .modal-container {
  //     background: url(../../assets/images/gamemodeimg/modal.png);
  //     background-size: cover;
  //     width: 720px;
  //     height: 520px;
  //     transform: translateY(-100vh);

  //     .modal-content {
  //       padding: 20px 5%;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       text-align: center;
  //       flex-direction: column;
  //       font-family: 'atma';

  //       h3 {
  //         font-size: 3rem;
  //         text-transform: uppercase;
  //       }

  //       p {
  //         font-size: 1.5rem;
  //         line-height: 1.5em;
  //       }

  //       button {
  //         width: auto;
  //         height: auto;
  //         border-radius: 5px;
  //         border: #333d3e 3px solid;
  //         padding: 5px 15px;
  //         font-family: 'atma';
  //         font-size: 1.5rem;
  //         cursor: pointer;
  //         background: white;
  //       }
  //     }
  //   }
  // }
}

@media @tablet {
  .parent-dashboard {
    .heading-section {
      flex-direction: column;
      margin-bottom: 20px;
      .link-container {
        width: 100vw;
        justify-content: space-around;
      }
    }
  }
}