@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.point-share-container {
  height: 70vh;
  display: flex;
  flex-direction: row;

  .team-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    .ant-col {
      height: 100%;
      width: 15%;
      .ant-row {
        border: 5px solid @header-nero;
        border-top-width: 0;
        height: 50%;
      }
      &:first-of-type {
        background: @conifer;
        img {
          height: 90%;
          width: auto;
          top: 5%;
          left: 12%;
          position: relative;
        }
      }
      &:last-of-type {
        flex-grow: 1;
        .teammate-one-points {
          background-color: @burnt-sienna;
          justify-content: space-evenly;
          padding: 0;
        }
        .teammate-two-points {
          background-color: @bright-sun;
        }
        .ant-row {
          border: 0 5px 5px 0 solid @header-nero;
          border-left-width: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          padding: 2.5vh 5vw 50px;

          .submission-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: space-evenly;
            width: 25%;
            img {
              height: 70%;
              width: 70%;
              border-radius: 20px 20px 0 0;
              border: 5px solid black;
            }
            .ant-input-number {
              font-size: xxx-large;
              font-family: Bangers;
              line-height: 1.5715;
              width: 70%;
              border-radius: 0 0 16px 16px;
              .ant-input-number-handler-wrap {
                width: 78px;
                height: 100%;
                .ant-input-number-handler {
                  width: 100%;
                  height: 50%;
                  text-align: center;
                  line-height: 0;
                  margin-right: 36%;
                  span {
                    margin-right: 36%;
                    font-size: 30%;
                  }
                }
              }
              .ant-input-number-input {
                height: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .match-up {
    .orangeButtonStyle();
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: 700;
    width: 9%;
  }
  .back-to-join-the-squad {
    .orangeButtonStyle();
    position: fixed;
    width: 9%;
    font-weight: 700;
    left: 2vh;
    bottom: 2vh;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}
.question-icon {
  font-size: 2.1rem;
  color: #6d6d6d;
  position: absolute;
  top: 1.2%;
  right: 4.5%;
}
