@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

.point-share-container {
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.squad-col {
  height: 100%;
  background: #b5d33d;
}

.main-row {
  height: 100%;
}
.points-col {
  height: 100%;
}

.teammate-one-points,
.teammate-two-points {
  justify-content: center;
  height: 50%;
}

.teammate-one,
.teammate-two {
  position: relative;
}
