@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'global.less';
@import 'variables.less';

.ProgressContainer{
	margin: 0 auto;
	width: 65ch;
	border-radius: 15px 15px 0 0;
	background-color: #dcedc1;
	.ProgressHeader{
		text-align: center;
		padding: 1em;
	}
	.ProgressBoxContainer{
		background-color: #a8e6cf;
		padding: 1em;
		border-radius:0 0 15px 15px;
		width: 100%;
		color:white;
		font-size:15pt;
	} 
}
