.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none;
}
.react-pdf__Page {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  .ant-btn {
    width: 20%;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
