@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'variables.less';

.storybookManager {
  min-height: 100vh;
}

.storybookModal {
  .ant-modal-body {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    input {
      margin: 1em 0;
    }

    .upload-container {
      flex-basis: 100%;
    }
  }

  .ant-modal-footer {
    button {
      margin: 0 !important;
    }
  }
}

.storybookDetails {
  &__content {
    margin-right: 1em;
    background-color: white;

    .header {
      margin-bottom: 1em;
      &__top {
        padding: 2em 0;

        h2 {
          font-size: 1.5rem;
        }
      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      text-align: center;

      &__item,
      &__input {
        flex: 1;

        input {
          text-align: center;
        }
      }
    }

    .prompt,
    .audio,
    .control {
      margin-top: 2em;
      margin-bottom: 1em;
      &__header {
        display: flex;
        align-items: center;
        h3 {
          margin-right: 1em;
        }
        hr {
          flex: 1;
        }
      }

      &__upload {
        margin: 1em auto;
      }
      &__fileView {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 1em;
        min-height: 150px;
        p {
          padding: 0;
          margin: 0;
        }
      }
    }

    .control {
      &__checklist {
        margin: 1em 0 2em;
      }

      button {
        background-color: rgb(189, 21, 21);
        font-weight: bolder;
        color: white;
      }

      button[disabled] {
        background: #f5f5f5;
      }
    }
  }
}
