.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none;
}
.react-pdf__Page {
  display: flex;
  justify-content: center;
}

.prev-button,
.next-button {
  position: fixed;
  bottom: 0.4vw;
  margin: 1%;
}
.prev-button {
  left: 0.4vw;
}
.next-button {
  right: 0.4vw;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 2rem;
    font-family: 'Nunito';
    margin-bottom: 0;
  }
}

.viewer-container {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: scroll;
  border: 5px solid @header-nero;
  border-top-width: 0;
}

.finished-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  .finished-reading {
    width: 180px;
    height: 45px;

    color: #fff;
    background-color: #eb7d5b;
    box-sizing: border-box;
    font-size: 1rem;
    border: 3px solid @header-nero;
  }
  .finished-reading:disabled {
    background-color: @suva-grey;
  }
}
