@import '../less/variables.less';

.container {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.FAQ {
    width: 33%;
    height: 20vh;
    border-radius: 14px;
    justify-content: center;
    cursor: pointer;
    background: @button-blue;
    border: none;
    color: @white-smoke;
    font-size: 1rem;
  }
  .contact {
    width: 33%;
    height: 20vh;
    border-radius: 14px;
    justify-content: center;
    cursor: pointer;
    background: @burnt-sienna;
    border: none;
    color: @white-smoke;
    font-size: 1rem;
  }