// @import '../less/variables.less';

// .support-page-container {
//   height: 70vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 20px;
//   background-color: @kashmir-blue;
// }

// .contact-us-container{
//   display: inline-flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .button-container{
//   width: 80vw;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   gap: 10%;
//   .FAQ-button {
//     width: 33%;
//     height: 20vh;
//     border-radius: 14px;
//     justify-content: center;
//     cursor: pointer;
//     background: @button-blue;
//     border: none;
//     color: @white-smoke;
//     font-size: 1rem;
//   }
//   .contact-button {
//     width: 33%;
//     height: 20vh;
//     border-radius: 14px;
//     justify-content: center;
//     cursor: pointer;
//     background: @burnt-sienna;
//     border: none;
//     color: @white-smoke;
//     font-size: 1rem;
//   }
//   h3 {
//     color: #ffffff;
//     text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
//     text-align: center;
//     font-size: 3rem;
//     font-family: 'bangers';
//     font-weight: bold;
//     z-index: 1;
//     letter-spacing: 7px;
//     @media @mobile {
//       font-size: 3rem;
//     }
//   }
// }


// //Contact Form Modal Styling
// // .test {

// // }

// .Contact-modal {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }




// .Contact-Form-Container {
//   visibility: hidden;
//   display: inline-flex;
//   width: 50vw;
//   display: flex;
//   flex-flow: column nowrap;
//   align-items: center;
//   flex: 1;
//   p {
    
//       color: #939aff;
//       text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
//       font-size: 1rem;
//       font-family: 'bangers';
//       letter-spacing: 1px;
//       z-index: 1;
//       text-align: center;
//   }
//   h3{
//     color: #ff9100;
//     text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
//     font-size: 2rem;
//     font-family: 'bangers';
//     font-weight: bold;
//     letter-spacing: 2px;
//     z-index: 1;
//     text-align: center;
//   }
// }

// .contact-form-inputs {
//   width: 60%;
//   margin-bottom: 15px;
//   letter-spacing: 5px;
//   font-weight: 600;
//   text-align: center;
//   border-radius: 4px;
// }

// .contact-form-message {
//   width: 60%;
//   height: 10vh;
//   font-weight: 300;
//   border-radius: 4px;
// }

// .contact-button-container {
//   display: flex;
//   flex-flow: column nowrap;
//   align-items: center;
//   width: 100%;
//   padding: 20px;
// }

// .contact-form-submit-button {
//   width: 50%;
//   border-radius: 14px;
//   justify-content: center;
//   cursor: pointer;
//   background: @button-blue;
//   font-size: 1rem;
//   background: @white-smoke;
//   border: 3px solid @button-blue;
//   color: @button-blue;
//   box-shadow: 2px 1px 1px;
//   &:hover {
//     background: @button-blue;
//     color: @white-smoke;
//   }
// }




///test

@import '../less/variables.less';
//needed
.support-page-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @kashmir-blue;

}

.button-container{
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: absolute;
  z-index: 1;
  .FAQ-button {
    width: 33%;
    height: 20vh;
    border-radius: 14px;
    justify-content: center;
    cursor: pointer;
    background: @button-blue;
    border: none;
    color: @white-smoke;
    font-size: 1rem;
  }
  .contact-button {
    width: 33%;
    height: 20vh;
    border-radius: 14px;
    justify-content: center;
    cursor: pointer;
    background: @burnt-sienna;
    border: none;
    color: @white-smoke;
    font-size: 1rem;
  }
  h3 {
    color: #ffffff;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    text-align: center;
    font-size: 3rem;
    font-family: 'bangers';
    font-weight: bold;

    letter-spacing: 7px;
    @media @mobile {
      font-size: 3rem;
    }
  }
}

.Contact-Form-Container {
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 20px;
  background-color: @white-smoke;
  opacity: 0.9;
  p {
    
      color: #939aff;
      text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
      font-size: 1rem;
      font-family: 'bangers';
      letter-spacing: 1px;
      z-index: 1;
      text-align: center;
  }
  h3{
    color: #ff9100;
    text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
    font-size: 2rem;
    font-family: 'bangers';
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 1;
    text-align: center;
  }
}

.contact-form-inputs {
  width: 60%;
  margin-bottom: 15px;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
}

.contact-form-message {
  width: 60%;
  height: 10vh;
  font-weight: 300;
  border-radius: 4px;
}

.contact-button-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.contact-form-submit-button {
  width: 50%;
  border-radius: 14px;
  justify-content: center;
  cursor: pointer;
  background: @button-blue;
  font-size: 1rem;
  background: @white-smoke;
  border: 3px solid @button-blue;
  color: @button-blue;
  box-shadow: 2px 1px 1px;
  &:hover {
    background: @button-blue;
    color: @white-smoke;
  }
}
