.ant-row {
  justify-content: space-evenly;
}

.h2 {
  color: #ff9100;
  text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
  text-align: center;
  font-size: 3rem;
  font-family: 'bangers';
  font-weight: bold;
  z-index: 1;
  letter-spacing: 7px;
  @media @mobile {
    font-size: 3rem;
  }
}

.ant-modal-title {
  color: #ff9100;
  text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
  text-align: center;
  font-size: 3rem;
  font-family: 'bangers';
  font-weight: bold;
  z-index: 1;
  letter-spacing: 7px;
}

.ant-modal-body h3 {
  color: #ff9100;
  text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
  font-size: 2rem;
  font-family: 'bangers';
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1;
  text-align: center;
}

.ant-modal-body p {
  color: #939aff;
  text-shadow: -4px 0 #ffffff, 0 4px #ffffff, 4px 0 #ffffff, 0 -4px #ffffff;
  font-size: 1rem;
  font-family: 'bangers';
  letter-spacing: 1px;
  z-index: 1;
  text-align: center;
}
