.leaderboard {
  width: 75%;
  @media @tablet {
    width: 90%;
  }
}
.parent:nth-of-type(odd) {
  background-color: @white-smoke;
}
.hero {
  @media @mobile {
    width: 100vw;
  }
}
.hero h1 {
  @media @tablet {
    font-size: 2.5rem;
  }
}
.back-btn {
  @media @tablet {
    width: 30%;
  }
}
.back-btn {
  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }
}
.tablet-mobile-button {
  display: none;
  @media @tablet {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ant-table-content {
  @media @tablet {
    width: 100%;
  }
}
.ant-table-tbody {
  text-align: center;
  font-family: 'atma';
  font-size: 1.4rem;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: unset;
}
.table-col {
  @media @mobile {
    margin-left: -20%;
  }
}
.ant-table-row > td.ant-table-column-sort {
  background: unset;
}
.ant-table-thead > tr > th {
  background: @white-smoke;
  text-align: center;
  vertical-align: top;
  font-family: 'atma';
  font-weight: bold;
  font-size: 1.3rem;
}
.ant-table-thead th.ant-table-column-has-sorters {
  cursor: auto;
}
.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: @white-smoke;
}
.ant-table-thead th.ant-table-column-has-sorters:hover {
  cursor: auto;
}
.leader_h2 {
  width: 100%;
}
// Trophy room page styles
.h2 {
  // text-shadow: -4px 0 #FFFFFF, 0 4px #FFFFFF, 4px 0 #FFFFFF, 0 -4px #FFFFFF;
  text-align: center;
  font-size: 4rem;
  font-family: 'atma';
  font-weight: bold;
  z-index: 1;
  margin: 0 0;
  padding: 15px 0px;
  cursor: pointer;
  @media @tablet {
    font-size: 4rem;
    text-align: center;
  }
  @media @mobile {
    font-size: 3rem;
  }
}
.content-box {
  filter: drop-shadow(-12px 4px 2px @suva-grey) drop-shadow(12px 4px 3px grey);
}
.dark {
  background-color: @header-nero;
  & > * {
    color: @white-smoke;
  }
  margin-bottom: 3rem;
}
.shaped {
  clip-path: polygon(1% 2%, 95% 2%, 100% 94%, 0% 100%);
}
// wrap a .content-box.shaped with this to give it a shadow
// .shaped-shadow-container {
//   filter: drop-shadow($size-shadow-large $gray);
// }
.ant-modal-title {
  color: #FF9100;
  text-shadow: -4px 0 #FFFFFF, 0 4px #FFFFFF, 4px 0 #FFFFFF, 0 -4px #FFFFFF;
  text-align: center;
  font-size: 3rem;
  font-family: 'bangers';
  font-weight: bold;
  z-index: 1;
  letter-spacing: 7px;
}
.ant-modal-body h3 {
  color: #FF9100;
  text-shadow: -4px 0 #FFFFFF, 0 4px #FFFFFF, 4px 0 #FFFFFF, 0 -4px #FFFFFF;
  font-size: 2rem;
  font-family: 'bangers';
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1;
  text-align: center;
}
.ant-modal-body p {
  color: #939AFF;
  text-shadow: -4px 0 #FFFFFF, 0 4px #FFFFFF, 4px 0 #FFFFFF, 0 -4px #FFFFFF;
  font-size: 1rem;
  font-family: 'bangers';
  letter-spacing: 1px;
  z-index: 1;
  text-align: center;
}
.trophy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: auto;
  @media @tablet {
    flex-direction: column;
    align-items: center;
  }
}
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 50%;
}
.custom-divider {
  margin: 0px 20px;
  width: 1px;
  @media screen and (@mobile) {
    visibility: hidden;
  }
}
.ant-modal-title {
  color: #FF9100;
  text-shadow: -4px 0 #FFFFFF, 0 4px #FFFFFF, 4px 0 #FFFFFF, 0 -4px #FFFFFF;
  text-align: center;
  font-size: 3rem;
  font-family: 'bangers';
  font-weight: bold;
  z-index: 1;
  letter-spacing: 7px;
}
.ant-modal-body h3 {
  color: #FF9100;
  text-shadow: -4px 0 #FFFFFF, 0 4px #FFFFFF, 4px 0 #FFFFFF, 0 -4px #FFFFFF;
  font-size: 2rem;
  font-family: 'bangers';
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1;
  text-align: center;
}
.ant-modal-body p {
  color: #939AFF;
  text-shadow: -4px 0 #FFFFFF, 0 4px #FFFFFF, 4px 0 #FFFFFF, 0 -4px #FFFFFF;
  font-size: 1rem;
  font-family: 'bangers';
  letter-spacing: 1px;
  z-index: 1;
  text-align: center;
}
.parent {
  border: 2px solid red;
}