// colors
@header-nero: #292929;
@dim-grey: #5f5f5f;
@suva-grey: #949494;
@white-smoke: #fafafa;
@white: #ffffff;
@kashmir-blue: #587291;
@turquoise: #6ceae6;
@turquoise-flat: #9BE1DF;
@conifer: #b5d33d;
@burnt-sienna: #eb7d5b;
@bright-sun: #fed23f;
@boston-blue: #429cb5;
@button-blue: #007aff;
@new-turquoise: #8CE2E0;
@light-gray: #F5F5F5;
@dark-gray: #4B5151;

// Media Queries
@xs: ~'(max-width:320px)';
@mobile: ~'(max-width:375px)';
@mobileLarge: ~'(max-width: 425px)';
@tablet: ~'(max-width:768px)';
@tablet-large-width: ~'(max-width: 840px)';

// current tablet is 677, changing it to see if it changes anything

// the following are taken from Drews scss styling library

// font imports
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

// fonts
@font-display: 'Bangers';
@font-text: 'Atma';
@font-text-parent: 'Open Sans';
@font-display-parent: 'Mulish';

// colors
@black-brand: #231f20;
@black-filter: hsla(0, 0, 0, 0.8);
@black-text: #2d2a2b;
@black-border: #333d3e;
@white: #fbfbfb;
@white-filter: hsla(0, 0%, 98%, 0.8);
@gray: #e5e5e5;
@gray-dark: #575757;
@gray-light: #f5f5f5;
@gray-text-light: #878d93;
@green: #c6fd7e;
@orange: #ff845d;
@yellow: #ffd854;
@blue: #42caf0;
@aqua: #6ceae6;
@aqua-light: #8ce2e0;
@red-warning: #EC3D52;
// parent colors
@gray-blue: #47525D;
@gray-blue-dark: #323F4B;
@gray-mid: #7B8794;
@gray-text: #4B5151;

// media sizes
@tablet-width: 768px;
@tablet-height: 920px;
@tablet-large-width: 840px;
@mobile-width: 422px;

// styling
@size-shadow: 0.4rem 0.4rem;
@size-shadow-small: 0.2rem 0.2rem;
@size-shadow-large: 0.8rem 0.8rem;
