// colors
@header-nero: #292929;
@dim-grey: #5f5f5f;
@suva-grey: #949494;
@white-smoke: #fafafa;
@white: #ffffff;
@kashmir-blue: #587291;
@turquoise: #6ceae6;
@conifer: #b5d33d;
@burnt-sienna: #eb7d5b;
@bright-sun: #fed23f;
@boston-blue: #429cb5;
@button-blue: #007aff;

// Media Queries

@mobile: ~'(max-width:360px)';
@tablet: ~'(max-width:677px)';
