.left-radio {
  position: absolute;
  right: 150%;
  top: 90%;
}
.right-radio {
  position: absolute;
  right: 50%;

  top: 90%;
}
.votingSubmit-button {
  .orangeButtonStyle();
  position: absolute;
  right: 10%;
  top: 90%;
}
