@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';
@import 'global.less';
@import 'variables.less';

.body{
  background-color: red;
}
.winner-container{
display: flex;
justify-content: center;
background: #292929;
padding: 2%;
img{
  width:70%;
  height:70%;
  margin: 20%;
}
}
.wbox{
  width: 550px;
  height: 550px;
  left: 0px;
  top: 0px;
  border: 7px solid #E5E5E5;
  box-sizing: border-box;
  padding: 2%;
  align-self: center;
  display: flex;
  justify-content: center;
  
}
.winner-text{

font-family: Bangers;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 64px;
/* identical to box height */
letter-spacing: 0.05em;
color: #FBFBFB;
position: absolute;
  
}

.winner-avatar{
  display: flex;
  justify-content: center;
  margin:3%;
  img{
  width: 70%;
  height:70%;
  }
}

.winner-name{
  font-size: 50px;
}